**1 Charaterstics of Tuples**

**Tuples are used to stored multiple items in single variable. Tuple are indexed and collection which is ordered and unchangeable.**
**Tuples are inmutable.**

*** 2.  There are 2 tuple methods***

ReasonsTuples have only 2 in-built methods compared to List because an unexpected changes and error occures ina list. But in tuples changes and error don't occur usually because of immutability. 

**count()**
**index()**

t1=(1,12,4.5,353,"abcd",true)

In [8]:
## count()
t1=1,2,4.5,353,"abcd",True

In [15]:
t1.count(2)

1

In [16]:
## index()
t1.index("abcd")

4

***3.  Set is a collection which do not allow duplicate item***

l=[1, 1, 1, 2, 1, 3, 1, 4, 2, 1, 2, 2, 2, 3, 2, 4, 3, 1, 3, 2, 3, 3, 3, 4, 4, 1, 4, 2, 4, 3, 4, 4]

In [32]:
res=[*set(l)]
print(res)

[1, 2, 3, 4]

*** 4. update() adds all missing elements to the set where as union() creates new set.***

In [33]:
## example of update() and union()
s1={1,2,3,4}
s2={'a', 'b', 'c', 'd'}

In [34]:
s1.update(s2)

In [35]:
print(s1)

{1, 2, 3, 4, 'c', 'b', 'a', 'd'}

In [39]:
print('s1 U s2 =', s1.union(s2))

s1 U s2 = {1, 2, 3, 4, 'c', 'b', 'a', 'd'}

*** 5. Dictionary***
dictionaries are ordered and changeable and do not allow duplicates.

Example
numbers={1: "One", 2: "Two", 3: "Three"}

In [42]:
numbers={1: "One", 2: "Two", 3: "Three"}

In [43]:
print(numbers)

{1: 'One', 2: 'Two', 3: 'Three'}

*** 6. Yes we can create a nested dictionary***


people = {1: {'name': 'John', 'age': '27', 'sex': 'Male'},
          2: {'name': 'Marie', 'age': '22', 'sex': 'Female'}}

In [45]:
people = {1: {'name': 'John', 'age': '27', 'sex': 'Male'},
          2: {'name': 'Marie', 'age': '22', 'sex': 'Female'}}

In [46]:
print(people)

{1: {'name': 'John', 'age': '27', 'sex': 'Male'}, 2: {'name': 'Marie', 'age': '22', 'sex': 'Female'}}



*** 8. The three view objects in dictionaries key, values and item***

dict1 = {'Sport': 'Cricket' , 'Teams': ['India', 'Australia', 'England', 'South Africa', 'Sri Lanka', 'New Zealand']}

In [5]:
dict1 = {'Sport': 'Cricket' , 'Teams': ['India', 'Australia', 'England', 'South Africa', 'Sri Lanka', 'New Zealand']}

In [6]:
keys1= dict1.keys()
print(keys1)

dict_keys(['Sport', 'Teams'])

In [7]:
v= dict1.values()
print(v)

dict_values(['Cricket', ['India', 'Australia', 'England', 'South Africa', 'Sri Lanka', 'New Zealand']])

In [8]:
i=dict1.items()
print(i)

dict_items([('Sport', 'Cricket'), ('Teams', ['India', 'Australia', 'England', 'South Africa', 'Sri Lanka', 'New Zealand'])])

*** 7. setdefault()***

dict2 = {'language' : 'Python', 'course': 'Data Science Masters'}
topics= ['Python', 'Machine Learningâ€™, 'Deep Learning']

In [12]:
dict2 = {'language' : 'Python', 'course': 'Data Science Masters'}
dict2.setdefault('topics', ['Python', 'Machine Learning', 'Deep Learning'])

['Python', 'Machine Learning', 'Deep Learning']

In [13]:
print(dict2)

{'language': 'Python', 'course': 'Data Science Masters', 'topics': ['Python', 'Machine Learning', 'Deep Learning']}